div:hover {
    padding: 10px;
}
.div1 {
color: red;
}

.div2 {
color: purple;
}

.div3 {
color: orangered;
}

.div4 {
color: darkred;
}

.div5 {
color: lightsteelblue;
}

.div1, .div3, .div5 {
    font-style: italic;
}